# Absenteeism Excercise: Logistic Regression

In [1]:
#lecture53
import numpy as np #sklearn
import pandas as pd #stats

In [2]:
data_preprocessed = pd.read_csv('Absenteeism_preprocessed.csv')
data_preprocessed.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week
0,2015-07-07,289,36,33,239.554,30,0,2,1,4,0,0,0,1,7,1
1,2015-07-14,118,13,50,239.554,31,0,1,0,0,0,0,0,0,7,1
2,2015-07-15,179,51,38,239.554,31,0,0,0,2,0,0,0,1,7,2
3,2015-07-16,279,5,39,239.554,24,0,2,0,4,1,0,0,0,7,3
4,2015-07-23,289,36,33,239.554,30,0,2,1,2,0,0,0,1,7,3

In [3]:
#lecture54
absent_median = data_preprocessed['Absenteeism Time in Hours'].median()
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > absent_median, 1, 0)
#print(targets)
data_preprocessed['Excessive Absenteeism'] = targets

In [4]:
print(targets.shape)
targets.sum()/targets.shape[0]

(700,)

0.45571428571428574

In [5]:
data_targets = data_preprocessed.drop(['Date','Absenteeism Time in Hours'], axis=1)
data_targets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Transportation Expense   700 non-null    int64
 1   Distance to Work         700 non-null    int64
 2   Age                      700 non-null    int64
 3   Daily Work Load Average  700 non-null    float64
 4   Body Mass Index          700 non-null    int64
 5   Education                700 non-null    int64
 6   Children                 700 non-null    int64
 7   Pets                     700 non-null    int64
 8   Reason_1                 700 non-null    int64
 9   Reason_2                 700 non-null    int64
 10  Reason_3                 700 non-null    int64
 11  Reason_4                 700 non-null    int64
 12  Month Value              700 non-null    int64
 13  Day of the Week          700 non-null    int64
 14  Excessive Absenteeism    700 non-null    int32
dtypes: float64(1), int32(1), int64(13)
memory usage: 79.4 KB

In [6]:
#lecture55: selecting inputs
data_targets.iloc[:,0:14].head(10)

,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week
0,289,36,33,239.554,30,0,2,1,0,0,0,1,7,1
1,118,13,50,239.554,31,0,1,0,0,0,0,0,7,1
2,179,51,38,239.554,31,0,0,0,0,0,0,1,7,2
3,279,5,39,239.554,24,0,2,0,1,0,0,0,7,3
4,289,36,33,239.554,30,0,2,1,0,0,0,1,7,3
5,179,51,38,239.554,31,0,0,0,0,0,0,1,7,4
6,361,52,28,239.554,27,0,1,4,0,0,0,1,7,4
7,260,50,36,239.554,23,0,4,0,0,0,0,1,7,4
8,155,12,34,239.554,25,0,2,0,0,0,1,0,7,0
9,235,11,37,239.554,29,1,1,1,0,0,0,1,7,0

In [7]:
#same thing but efficient
unscaled_data = data_targets.iloc[:,:-1]
unscaled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Transportation Expense   700 non-null    int64
 1   Distance to Work         700 non-null    int64
 2   Age                      700 non-null    int64
 3   Daily Work Load Average  700 non-null    float64
 4   Body Mass Index          700 non-null    int64
 5   Education                700 non-null    int64
 6   Children                 700 non-null    int64
 7   Pets                     700 non-null    int64
 8   Reason_1                 700 non-null    int64
 9   Reason_2                 700 non-null    int64
 10  Reason_3                 700 non-null    int64
 11  Reason_4                 700 non-null    int64
 12  Month Value              700 non-null    int64
 13  Day of the Week          700 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 76.7 KB

### Standardize the data

In [8]:
#Standarize the data
#lecture56: statistical preprocessing
from sklearn.preprocessing import StandardScaler
#lecture61: correction
#absenteeism_scalar = StandardScaler() #standardized using z-score method

In [9]:
#lecture61:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator, TransformerMixin):

    def __init__(self, columns, copy=True, with_mean=True, with_std=True):
        self.scaler = StandardScaler(copy, with_mean, with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self, X, y = None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X=[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y = None, copy = None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns = self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled,X_scaled], axis = 1)[init_col_order]

In [10]:
unscaled_data.columns.values

array(['Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Month Value', 'Day of the Week'], dtype=object)

In [11]:
columns_to_omit = ['Reason_1','Reason_2','Reason_3','Reason_4','Education']
columns_to_scale = [x for x in unscaled_data.columns.values if x not in columns_to_omit]

In [12]:
absenteeism_scaler = StandardScaler(columns_to_scale)

C:\Users\gupta\anaconda3\lib\site-packages\sklearn\utils\validation.py:67: FutureWarning: Pass copy=['Transportation Expense', 'Distance to Work', 'Age', 'Daily Work Load Average', 'Body Mass Index', 'Children', 'Pets', 'Month Value', 'Day of the Week'] as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

In [13]:
absenteeism_scaler.fit(unscaled_data)

StandardScaler(copy=['Transportation Expense', 'Distance to Work', 'Age',
                     'Daily Work Load Average', 'Body Mass Index', 'Children',
                     'Pets', 'Month Value', 'Day of the Week'])

In [14]:
scaled_data = absenteeism_scaler.transform(unscaled_data)

In [15]:
scaled_data

array([[ 1.00584437,  0.41281584, -0.53606239, ...,  0.82136542,
         0.18272635, -0.68370352],
       [-1.57468098, -1.1418824 ,  2.13080317, ..., -1.21748491,
         0.18272635, -0.68370352],
       [-0.6541427 ,  1.42674947,  0.24830984, ...,  0.82136542,
         0.18272635, -0.00772546],
       ...,
       [ 1.62456682, -0.93909568, -1.32043461, ..., -1.21748491,
        -0.3882935 ,  0.66825259],
       [ 0.19094163, -0.93909568, -0.69293683, ...,  0.82136542,
        -0.3882935 ,  0.66825259],
       [ 1.03602595,  0.07483796,  0.56205873, ...,  0.82136542,
        -0.3882935 ,  0.66825259]])

In [16]:
#lecture57: train test split
from sklearn.model_selection import train_test_split
#random state works like set.seed

In [17]:
train_test_split(scaled_data,targets)

[array([[-0.6541427 , -0.26313992, -1.00668572, ..., -1.21748491,
         -1.24482327,  0.66825259],
        [-1.57468098, -1.1418824 ,  2.13080317, ..., -1.21748491,
         -0.95931334, -0.68370352],
        [-1.57468098, -1.34466913,  0.09143539, ...,  0.82136542,
         -1.53033319,  0.66825259],
        ...,
        [-1.01632169, -1.20947798, -0.37918794, ..., -1.21748491,
          1.61027597, -0.68370352],
        [-1.57468098, -1.1418824 ,  2.13080317, ..., -1.21748491,
         -0.10278357, -0.00772546],
        [-1.57468098, -1.34466913,  0.09143539, ..., -1.21748491,
         -0.67380342, -0.00772546]]),
 array([[-0.6541427 ,  1.42674947,  0.24830984, ...,  0.82136542,
         -1.53033319,  1.34423065],
        [-0.57868874,  0.81838929, -1.47730906, ...,  0.82136542,
          0.7537462 , -0.68370352],
        [ 0.19094163, -0.66871337,  1.03268206, ...,  0.82136542,
          0.18272635, -1.35968157],
        ...,
        [ 0.04003371, -0.26313992, -1.32043461, ..., -1.21748491,
          1.03925612, -0.68370352],
        [-1.01632169, -1.20947798, -0.37918794, ...,  0.82136542,
         -0.67380342, -0.68370352],
        [-1.57468098, -1.34466913,  0.09143539, ...,  0.82136542,
          1.03925612, -0.68370352]]),
 array([0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
        1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
        0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
        1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
        0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1,
        0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
        0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
        0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
        0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
        0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1,
        0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1,
        0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
        1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0,
        0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0]),
 array([0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
        0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0,
        1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
        0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
        0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0,
        0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0])]

In [18]:
x_train, x_test, y_train, y_test = train_test_split(scaled_data, targets, train_size = 0.8, shuffle=True, random_state = 20)
#80% of data is used for training
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(560, 14) (560,)
(140, 14) (140,)

In [19]:
#lecture58
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [20]:
#training model
reg = LogisticRegression()

In [21]:
reg.fit(x_train,y_train)

LogisticRegression()

In [22]:
#accuracy
reg.score(x_train,y_train)

0.7839285714285714

In [23]:
#manually check the accuracy
model_outputs = reg.predict(x_train)

In [24]:
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [25]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [26]:
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [27]:
sum(model_outputs == y_train)/y_train.shape[0]

0.7839285714285714

In [28]:
#lecture59
#intercept/bias
reg.intercept_

array([-0.22206736])

In [29]:
#coefficients/weights
reg.coef_

array([[ 0.70639316, -0.03986811, -0.20089491, -0.00456366,  0.31933564,
        -0.135508  ,  0.38172443, -0.3332426 ,  2.07601767,  0.33504757,
         1.56162303,  1.32927434,  0.18793677, -0.07062253]])

In [30]:
#scaled_data.columns.values #error
unscaled_data.columns.values

array(['Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Month Value', 'Day of the Week'], dtype=object)

In [31]:
feature_name = unscaled_data.columns.values
#feature_name
summary_table = pd.DataFrame(columns =['Feature name'], data = feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

               Feature name  Coefficient
0    Transportation Expense     0.706393
1          Distance to Work    -0.039868
2                       Age    -0.200895
3   Daily Work Load Average    -0.004564
4           Body Mass Index     0.319336
5                 Education    -0.135508
6                  Children     0.381724
7                      Pets    -0.333243
8                  Reason_1     2.076018
9                  Reason_2     0.335048
10                 Reason_3     1.561623
11                 Reason_4     1.329274
12              Month Value     0.187937
13          Day of the Week    -0.070623

In [32]:
summary_table.index = summary_table.index+1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

               Feature name  Coefficient
0                 Intercept    -0.222067
1    Transportation Expense     0.706393
2          Distance to Work    -0.039868
3                       Age    -0.200895
4   Daily Work Load Average    -0.004564
5           Body Mass Index     0.319336
6                 Education    -0.135508
7                  Children     0.381724
8                      Pets    -0.333243
9                  Reason_1     2.076018
10                 Reason_2     0.335048
11                 Reason_3     1.561623
12                 Reason_4     1.329274
13              Month Value     0.187937
14          Day of the Week    -0.070623

In [33]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)
summary_table

               Feature name  Coefficient  Odds_ratio
0                 Intercept    -0.222067    0.800861
1    Transportation Expense     0.706393    2.026668
2          Distance to Work    -0.039868    0.960916
3                       Age    -0.200895    0.817998
4   Daily Work Load Average    -0.004564    0.995447
5           Body Mass Index     0.319336    1.376213
6                 Education    -0.135508    0.873272
7                  Children     0.381724    1.464808
8                      Pets    -0.333243    0.716596
9                  Reason_1     2.076018    7.972656
10                 Reason_2     0.335048    1.398007
11                 Reason_3     1.561623    4.766551
12                 Reason_4     1.329274    3.778301
13              Month Value     0.187937    1.206757
14          Day of the Week    -0.070623    0.931814

In [34]:
summary_table.sort_values('Odds_ratio', ascending=False)

               Feature name  Coefficient  Odds_ratio
9                  Reason_1     2.076018    7.972656
11                 Reason_3     1.561623    4.766551
12                 Reason_4     1.329274    3.778301
1    Transportation Expense     0.706393    2.026668
7                  Children     0.381724    1.464808
10                 Reason_2     0.335048    1.398007
5           Body Mass Index     0.319336    1.376213
13              Month Value     0.187937    1.206757
4   Daily Work Load Average    -0.004564    0.995447
2          Distance to Work    -0.039868    0.960916
14          Day of the Week    -0.070623    0.931814
6                 Education    -0.135508    0.873272
3                       Age    -0.200895    0.817998
0                 Intercept    -0.222067    0.800861
8                      Pets    -0.333243    0.716596

### Testing the model

In [36]:
#lecture64
reg.score(x_test,y_test)

0.7357142857142858

In [39]:
predicted_prob = reg.predict_proba(x_test)
predicted_prob

array([[0.73864865, 0.26135135],
       [0.58845661, 0.41154339],
       [0.36763564, 0.63236436],
       [0.81198089, 0.18801911],
       [0.0613996 , 0.9386004 ],
       [0.30742403, 0.69257597],
       [0.29538175, 0.70461825],
       [0.08106026, 0.91893974],
       [0.80435611, 0.19564389],
       [0.76038732, 0.23961268],
       [0.46271934, 0.53728066],
       [0.15484755, 0.84515245],
       [0.04619732, 0.95380268],
       [0.72991038, 0.27008962],
       [0.23140393, 0.76859607],
       [0.55130442, 0.44869558],
       [0.5292476 , 0.4707524 ],
       [0.55522744, 0.44477256],
       [0.38197963, 0.61802037],
       [0.02527634, 0.97472366],
       [0.69617984, 0.30382016],
       [0.80458387, 0.19541613],
       [0.37734902, 0.62265098],
       [0.40003074, 0.59996926],
       [0.18229161, 0.81770839],
       [0.76011784, 0.23988216],
       [0.47050402, 0.52949598],
       [0.88997625, 0.11002375],
       [0.13577639, 0.86422361],
       [0.7969686 , 0.2030314 ],
       [0.61545173, 0.38454827],
       [0.29540849, 0.70459151],
       [0.29861822, 0.70138178],
       [0.43636107, 0.56363893],
       [0.80458387, 0.19541613],
       [0.45743759, 0.54256241],
       [0.79495044, 0.20504956],
       [0.17927677, 0.82072323],
       [0.55533981, 0.44466019],
       [0.38891781, 0.61108219],
       [0.79091218, 0.20908782],
       [0.59718847, 0.40281153],
       [0.78626379, 0.21373621],
       [0.90155909, 0.09844091],
       [0.15775504, 0.84224496],
       [0.33387011, 0.66612989],
       [0.28327069, 0.71672931],
       [0.73017956, 0.26982044],
       [0.79844264, 0.20155736],
       [0.82929957, 0.17070043],
       [0.4266055 , 0.5733945 ],
       [0.91701038, 0.08298962],
       [0.32068258, 0.67931742],
       [0.71369671, 0.28630329],
       [0.12746591, 0.87253409],
       [0.51453431, 0.48546569],
       [0.0674669 , 0.9325331 ],
       [0.7537751 , 0.2462249 ],
       [0.91830328, 0.08169672],
       [0.91760659, 0.08239341],
       [0.27204448, 0.72795552],
       [0.3304846 , 0.6695154 ],
       [0.68798136, 0.31201864],
       [0.13973706, 0.86026294],
       [0.8161173 , 0.1838827 ],
       [0.7403345 , 0.2596655 ],
       [0.9868338 , 0.0131662 ],
       [0.77970087, 0.22029913],
       [0.1876351 , 0.8123649 ],
       [0.68546135, 0.31453865],
       [0.79566259, 0.20433741],
       [0.92871986, 0.07128014],
       [0.06674077, 0.93325923],
       [0.53680529, 0.46319471],
       [0.34482822, 0.65517178],
       [0.7969686 , 0.2030314 ],
       [0.14871293, 0.85128707],
       [0.28022733, 0.71977267],
       [0.21027431, 0.78972569],
       [0.30962571, 0.69037429],
       [0.75845751, 0.24154249],
       [0.98786963, 0.01213037],
       [0.78013291, 0.21986709],
       [0.23875535, 0.76124465],
       [0.56495539, 0.43504461],
       [0.90095328, 0.09904672],
       [0.28305419, 0.71694581],
       [0.4111126 , 0.5888874 ],
       [0.9508767 , 0.0491233 ],
       [0.30544114, 0.69455886],
       [0.86512466, 0.13487534],
       [0.87785212, 0.12214788],
       [0.78847559, 0.21152441],
       [0.72202798, 0.27797202],
       [0.7773488 , 0.2226512 ],
       [0.10736118, 0.89263882],
       [0.72743745, 0.27256255],
       [0.19062097, 0.80937903],
       [0.77148365, 0.22851635],
       [0.80086491, 0.19913509],
       [0.33158859, 0.66841141],
       [0.28556989, 0.71443011],
       [0.26961577, 0.73038423],
       [0.27672965, 0.72327035],
       [0.51458792, 0.48541208],
       [0.46364011, 0.53635989],
       [0.74879857, 0.25120143],
       [0.12187794, 0.87812206],
       [0.20095775, 0.79904225],
       [0.85670113, 0.14329887],
       [0.98908819, 0.01091181],
       [0.07567792, 0.92432208],
       [0.26259581, 0.73740419],
       [0.64224866, 0.35775134],
       [0.42437799, 0.57562201],
       [0.39738903, 0.60261097],
       [0.13024216, 0.86975784],
       [0.16722385, 0.83277615],
       [0.46572923, 0.53427077],
       [0.69383587, 0.30616413],
       [0.76723907, 0.23276093],
       [0.85612112, 0.14387888],
       [0.1284117 , 0.8715883 ],
       [0.56231091, 0.43768909],
       [0.7969686 , 0.2030314 ],
       [0.62489141, 0.37510859],
       [0.8136116 , 0.1863884 ],
       [0.89309299, 0.10690701],
       [0.23385734, 0.76614266],
       [0.68505831, 0.31494169],
       [0.33285298, 0.66714702],
       [0.80604176, 0.19395824],
       [0.6879822 , 0.3120178 ],
       [0.65781679, 0.34218321],
       [0.71446029, 0.28553971],
       [0.45907711, 0.54092289],
       [0.5396467 , 0.4603533 ],
       [0.70364311, 0.29635689],
       [0.74526002, 0.25473998],
       [0.53622983, 0.46377017]])

In [41]:
predicted_prob.shape

(140, 2)

In [42]:
predicted_prob[:,1]

array([0.26135135, 0.41154339, 0.63236436, 0.18801911, 0.9386004 ,
       0.69257597, 0.70461825, 0.91893974, 0.19564389, 0.23961268,
       0.53728066, 0.84515245, 0.95380268, 0.27008962, 0.76859607,
       0.44869558, 0.4707524 , 0.44477256, 0.61802037, 0.97472366,
       0.30382016, 0.19541613, 0.62265098, 0.59996926, 0.81770839,
       0.23988216, 0.52949598, 0.11002375, 0.86422361, 0.2030314 ,
       0.38454827, 0.70459151, 0.70138178, 0.56363893, 0.19541613,
       0.54256241, 0.20504956, 0.82072323, 0.44466019, 0.61108219,
       0.20908782, 0.40281153, 0.21373621, 0.09844091, 0.84224496,
       0.66612989, 0.71672931, 0.26982044, 0.20155736, 0.17070043,
       0.5733945 , 0.08298962, 0.67931742, 0.28630329, 0.87253409,
       0.48546569, 0.9325331 , 0.2462249 , 0.08169672, 0.08239341,
       0.72795552, 0.6695154 , 0.31201864, 0.86026294, 0.1838827 ,
       0.2596655 , 0.0131662 , 0.22029913, 0.8123649 , 0.31453865,
       0.20433741, 0.07128014, 0.93325923, 0.46319471, 0.65517178,
       0.2030314 , 0.85128707, 0.71977267, 0.78972569, 0.69037429,
       0.24154249, 0.01213037, 0.21986709, 0.76124465, 0.43504461,
       0.09904672, 0.71694581, 0.5888874 , 0.0491233 , 0.69455886,
       0.13487534, 0.12214788, 0.21152441, 0.27797202, 0.2226512 ,
       0.89263882, 0.27256255, 0.80937903, 0.22851635, 0.19913509,
       0.66841141, 0.71443011, 0.73038423, 0.72327035, 0.48541208,
       0.53635989, 0.25120143, 0.87812206, 0.79904225, 0.14329887,
       0.01091181, 0.92432208, 0.73740419, 0.35775134, 0.57562201,
       0.60261097, 0.86975784, 0.83277615, 0.53427077, 0.30616413,
       0.23276093, 0.14387888, 0.8715883 , 0.43768909, 0.2030314 ,
       0.37510859, 0.1863884 , 0.10690701, 0.76614266, 0.31494169,
       0.66714702, 0.19395824, 0.3120178 , 0.34218321, 0.28553971,
       0.54092289, 0.4603533 , 0.29635689, 0.25473998, 0.46377017])

In [45]:
#save model
import pickle

In [46]:
with open('model','wb') as file:
    pickle.dump(reg, file)

In [48]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)