In [1]:
#libraries
import pandas as pd

In [2]:
#data_source="https://replit.com/@vineetgupta086/boilerplate-demographic-data-analyzer#adult.data.csv"
data = pd.read_csv("adult_data.txt",delimiter=",")
data_c1 = data.copy()

In [3]:
print(data.head())
print(data.info())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [4]:
#1 How many people of each race are represented in this dataset?
#  This should be a Pandas series with race names as the index labels. (`race` column)
race = pd.value_counts(data_c1['race'])
print(race)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [7]:
#2 What is the average age of men?
avg_male = data_c1[data_c1['sex']=='Male']
avg_male_age = avg_male['age']
print("Avg Age of Male = ",round(sum(avg_male_age)/avg_male_age.size))

Avg Age of Male =  39

In [8]:
#3 What is the percentage of people who have a Bachelor's degree?
bach = data_c1[data_c1['education']=='Bachelors']
print(round(bach.size/data_c1.size*100),"%")

16 %

In [9]:
#4 What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
adv_edu = pd.Series(['Bachelors','Masters','Doctorate'])
edu = pd.Series(data_c1['education'].values)
edu_bool = pd.array([str(index) in str(adv_edu) for index in edu])
data_adv_edu = data_c1[edu_bool]
adv_sal = data_adv_edu[data_adv_edu['salary']==">50K"]
print(adv_sal.size/data_adv_edu.size*100,"%")

46.535843011613935 %

In [10]:
#5 What percentage of people without advanced education make more than 50K?
adv_edu = pd.Series(['Bachelors','Masters','Doctorate'])
edu = pd.Series(data_c1['education'].values)
edu_bool = pd.array([str(index) not in str(adv_edu) for index in edu])
data_adv_edu = data_c1[edu_bool]
adv_sal = data_adv_edu[data_adv_edu['salary']==">50K"]
print(adv_sal.size/data_adv_edu.size*100,"%")

17.3713601914639 %
CPU times: user 0 ns, sys: 4 µs, total: 4 µs
Wall time: 7.15 µs

In [11]:
#6 What is the minimum number of hours a person works per week?
min_work = min(data_c1['hours-per-week'])
print(min_work)

1

In [12]:
#7 What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
min_hpw = data_c1[data_c1['hours-per-week'] >= min_work]
sal_min = min_hpw[min_hpw['salary']==">50K"]
print(round(sal_min.size/min_hpw.size*100),"%")

24 %

In [13]:
#8 What country has the highest percentage of people that earn >50K and what is that percentage?
sal_50 = data_c1[data_c1['salary']=='>50K']
country = sal_50.value_counts(data_c1['native-country'])
print(country.index[0],": ",country[0])
#print(country.index[country == max(country)]," = ", max(country)/sum(country)*100,"%")

United-States :  7171

In [14]:
#9 Identify the most popular occupation for those who earn >50K in India.
ind = data_c1[data_c1['native-country']=='India']
ind_sal50k = ind[ind['salary']=='>50K']
ind_sal50k_group = ind_sal50k['occupation'].value_counts()
print(ind_sal50k_group.index[0])

Prof-specialty